* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
    background-image: url(../Resimler/6221798.jpg);
    background-size: 100%;
}

.anaTasiyici {
    width: 1200px;
    min-height: 600px;
    border: 4px solid black;
    border-radius: 14px;
    margin: 200px auto;
    background-color: whitesmoke;
    -webkit-box-shadow: 5px 5px 11px 9px rgba(233,163,252,0.48);
    box-shadow: 5px 5px 11px 9px rgba(233,163,252,0.48);
}

.sol {
    width: 400px;
    min-height: 600px;
    float: left;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 14px;
}

.sag {
    width: 800px;
    min-height: 600px;
    float: left;
    background-image: url(../Resimler/freepik__adjust__67656.jpeg);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.baslik {
    font-weight: 500;
    padding-top: 13px;
}

    .baslik h3, h4 {
        padding-top: 7px;
        font-size: 16pt;
    }

    .baslik p {
        padding-top: 10px;
    }

.metinkutu {
    width: 320px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid black;
}

.satir {
    margin-top: 10px;
}

.Button {
    width: 320px;
    height: 50px;
    border-radius: 14px;
    background-color: black;
    color: white;
    border: none;
    font-size: 14pt;
    font-weight: 700;
    margin-top: 15px;
    -webkit-box-shadow: 5px 5px 11px 9px rgba(0,0,0,0.65);
    box-shadow: 5px 5px 11px 9px rgba(0,0,0,0.65);
}

    .Button:hover {
        background-color: silver;
        color: black;
        cursor: pointer;
        border: 2px solid black;
        -webkit-box-shadow: 5px 5px 11px 9px rgba(192,192,192,0.65);
        box-shadow: 5px 5px 11px 9px rgba(192,192,192,0.65);
    }

.mesaj{
    font-family:Calibri;
    margin-top:15px;
    font-size:14pt;
    font-weight:700;
}
